build/
images/*
onnxruntime*/
onnxruntime/*
docker/*
CMakefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
SPEED-SAM-C-TENSORRT/
sam_inference/model/FastSAM-x.onnx
mask*
segmentation_results*
